<!--
  Generated template for the PdfViewerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle style="position: static;">
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>BIA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="loaded">
    <embed [src]="pdfURL()" type="application/pdf" width="100%" height="600px"/>  
  </div>

  <div *ngIf="!loaded">
    <p> Loading... </p>
  </div>

  </ion-content>
