<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  
  <h3 style="text-align: center; margin-top: 20px; color: #488aff;">ApPetito</h3>


  <p style="text-align: center; margin-top: 30px; color: rgb(71, 71, 71);">Scarica il PDF contenente i risultati della BIA</p>

<div style="display: flex; justify-content: center;margin-top: 50%;">
    <img *ngIf="!loaded && errorMessage == ''" style="margin-top: -40px;" src="assets/loading.gif" alt="LOADING">
    <a *ngIf="loaded" button ion-button [href]="pdfURL()" secondar class="button">Download BIA</a>
</div>

<p *ngIf="errorMessage != ''" class="isa_error near">{{errorMessage}}</p>

<!--
  <embed src="https://firebasestorage.googleapis.com/v0/b/rosotta-delivery.appspot.com/o/Richiesta%20CC%20somme%20erogate%20dallo%20Stato.pdf?alt=media&token=8a67858b-0142-4a0a-9cba-51c1b14969fc" type="application/pdf" width="100%" height="600px" />  

  <progress type="file" value="upload" id="prog">0%</progress>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>


  <button ion-button secondary menuToggle>Toggle Menu</button>

-->
<footer style="color: rgb(180, 180, 180);">App del Dr. Marco Petito</footer>

  <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
  <script>
    // Initialize Firebase
    // TODO: Replace with your project's customized code snippet
    var config = {
      apiKey: "AIzaSyCy7PJ1fretX5qFtyXE0HCIKFPDVWqhDsI",
      authDomain: "rosotta-delivery.firebaseapp.com",
      databaseURL: "https://rosotta-delivery.firebaseio.com/",
      projectId: "rosotta-delivery",
      storageBucket: "gs://rosotta-delivery.appspot.com",
    };
    firebase.initializeApp(config);
  </script>


  
</ion-content>


<style>
  footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
</style>